.cardWrapper {
    background: none;
    text-align: center;
}

.cardBody {
    padding: 0;
    margin-top: 1.5rem;
}

.cardTitle {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.cardText {
    margin-top: 0.5rem;
    color: #9a9a9a;
}

.cardButton{
    text-transform: uppercase;
    margin-top: 0.5rem;
    background-color: #fa4251;
    border: none;
    border-radius: 0;
}

.cardButton:hover{
    background-color: #fa4251;
}