.headerWrapper {
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}

.headerWrapper>div {
    margin-bottom: 1.5rem;
}

.col1 {
    padding-top: 0.5rem;
}

.col2 {
    text-align: center;
}

.col3 {
    display: flex;
    justify-content: flex-end;
}

.buttonWrapper {
    display: flex;
    align-items: baseline;
    border: none;
    background: none;
}

.buttonWrapper:hover {
    background-color: #fa4251;
}

.cartText {
    margin-left: 0.5rem;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .col2 {
        text-align: start;
    }
}

@media screen and (max-width: 767px) {

    .col2 {
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .col3 {
        justify-content: center;
    }
}