.cartWrapper {
    color: white;
}

.teste {
    display: flex;
}

.trashButton{
    border: none;
}
.price{
    font-weight: 600; 
}

.teste button {
    color: white;
    border: none;
    background-color: #fa4251;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 0.5rem 0 0.5rem;
}

.teste p {
    font-weight: 600;
}

.cartPurchase {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.cartPurchase button {
    margin-bottom: 2.5rem;
    color: white;
    border: none;
    text-transform: uppercase;
    background-color: #fa4251;
    height: 2.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.teste1 {
    margin-top: 1.5rem;
    border: 1px solid red;
    text-align: end;
}

.teste5{
    /* background-color: rgb(2, 3, 3) */
}
.emptyCart {
    color: white;
    text-align: center;
}

.emptyCart p {
    font-weight: 700;
}

.emptyCart button {
    margin-bottom: 2.5rem;
    color: white;
    border: none;
    text-transform: uppercase;
    background-color: #fa4251;
    height: 3.2rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}