.cartWrapper {
    color: white;
}

.price {
    font-weight: 600;
}

.plusMinusWrapper {
    display: flex;
}

.plusMinusWrapper button {
    color: white;
    border: none;
    background-color: #fa4251;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 0.5rem 0 0.5rem;
}

.plusMinusWrapper p {
    font-weight: 600;
}

.trashButton {
    border: none;
}

.subTotalWrapper {
    margin-top: 1.5rem;
    text-align: end;
}

.cartPurchase {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.cartPurchase button {
    margin-bottom: 2.5rem;
    color: white;
    border: none;
    text-transform: uppercase;
    background-color: #fa4251;
    height: 2.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.emptyCart {
    color: white;
    text-align: center;
}

.emptyCart p {
    font-weight: 700;
}

.emptyCart button {
    margin-bottom: 2.5rem;
    color: white;
    border: none;
    text-transform: uppercase;
    background-color: #fa4251;
    height: 3.2rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

@media screen and (max-width: 576px) {
    .subTotalWrapper {
        text-align: center;
    }
    .cartPurchase {
        display: block;
        text-align: center;
    }
}